<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>预览页</title>
    <!-- <link href="/static/css/next.min.css" rel="stylesheet" /> -->
    <!-- <link href="./css/<%= render %>.css" rel="stylesheet" /> -->
    <script src="/static/js/vue.runtime.global.prod.js"></script>
    <script src="/static/js/vue-renderer.js"></script>
  </head>
  <body>
    <div id="lce-container"></div>
    <script type="text/javascript" src="./js/<%= render %>.js"></script>
  </body>
</html>
